<div class="d-flex flex-wrap fx-widget-host">
  <div class="flex-fill widget">
    <app-fxwidget></app-fxwidget>
  </div>
  <!-- <div class="flex-fill widget">
    <app-fxwidget></app-fxwidget>
  </div>
  <div class="flex-fill widget">
    <app-fxwidget></app-fxwidget>
  </div>
  <div class="flex-fill widget">
    <app-fxwidget></app-fxwidget>
  </div>
  <div class="flex-fill widget">
    <app-fxwidget></app-fxwidget>
  </div>
  <div class="flex-fill widget">
    <app-fxwidget></app-fxwidget>
  </div>
  <div class="flex-fill widget">
    <app-fxwidget></app-fxwidget>
  </div> -->
</div>
