<!-- <div class="d-flex flex-wrap">
    <app-fxwidget></app-fxwidget>
    <app-fxwidget></app-fxwidget>
    <app-fxwidget></app-fxwidget>
</div> -->
<!-- <fx-widget-host></fx-widget-host> -->
<sweep-stakes-ladder></sweep-stakes-ladder>
<!-- <app-hgrid-demo></app-hgrid-demo> -->

<!-- <div class="d-flex flex-column my-container">
  <div class="panel flex-no-shrink">
    <button (click)="change()">Change</button>
  </div>
  <div class="d-flex flex-fill body">
    <div class="flex-fill" style="margin-left : 50px; margin-top: 50px;">
      <app-pie-chart>
      </app-pie-chart>

    </div>
  </div>

  <div class="d-flex panel flex-no-shrink">
    <button (click)="add()">Create</button>
    <div style="display: inline-block" #container></div>

  </div>
</div> -->

<!-- <div class="d-flex flex-column my-container">
  <div class="panel flex-no-shrink">
    <button (click)="change()">Change</button>
  </div>
  <div class="d-flex flex-fill body">
    <div class="flex-fill" avm-virtual-grid-container style="border-right: 1px solid">
      <avam-virtual-grid (initialized)="onGridInitialized($event)" [itemIterator]="itemDataIterator" [columns]="columns"></avam-virtual-grid>
    </div>
  </div>

  <div class="d-flex panel flex-no-shrink">
    <button (click)="add()">Create</button>
    <div style="display: inline-block" #container></div>
    <div class="d-flex ml-2">
        <input [(colorPicker)]="color" [style.background]="color"/>
    </div>
  </div>
</div> -->


<!-- <div class="my-container d-flex flex-column">
  <div class="panel flex-no-shrink">Header</div>
  <div class="body flex-fill" my-grid-container>
    <my-grid></my-grid>
  </div>
  <div class="panel flex-no-shrink">Footer</div>
</div> -->


<!-- <div class="d-flex flex-column my-container">
  <div class="panel flex-no-shrink">
    <button (click)="change()">Change</button>
  </div>
  <div class="d-flex flex-fill body" avam-grid-container id="containerDiv">
    <avam-grid class="d-flex flex-fill" [itemIterator]="dataIterator" [columns]="columns" [data]="data">
    </avam-grid>
  </div>
  <div class="d-flex panel flex-no-shrink">
    <button (click)="add()">Create</button>
    <div style="display: inline-block" #container></div>
  </div>
</div> -->


<!-- <div class="d-flex flex-column my-container">
  <div class="panel flex-no-shrink">
    <button (click)="change()">Change</button>
  </div>
  <div class="d-flex flex-fill body" id="containerDiv">
    <my-grid class="d-flex flex-fill">
    </my-grid>
  </div>
  <div class="d-flex panel flex-no-shrink">
    <button (click)="add()">Create</button>
    <div style="display: inline-block" #container></div>
  </div>
</div>

<ng-template #tmpl let-item="item">
  <span>{{item}}</span>
</ng-template> -->

<!-- <div class="d-flex flex-column my-container">
  <div class="panel flex-no-shrink">
    <button (click)="change()">Change</button>
  </div>
  <div class="flex-fill body" cool-infinite-grid-container id="containerDiv">
    <cool-infinite-grid [itemIterator]="myItemIterator" [itemHeight]="100" [itemWidth]="575" [itemSpace]="10">
      <ng-template let-item>
        <div style="text-align: center; height: 100%" [style.backgroundColor]="item.color">
          {{ item.name }}
          <button (click)="changeColor(item)">Change Color</button>
        </div>
      </ng-template>
    </cool-infinite-grid>
  </div>
  <div class="d-flex panel flex-no-shrink">
    <button (click)="add()">Create</button>
    <div style="display: inline-block" #container></div>
  </div>
</div> -->



<!-- <div style="width: 100%;height:150px;border: 1px solid;overflow:auto">
    <div style="width:300px">Hello there</div>
    <div style="width:300px">Hello there</div>
    <div style="width:300px">Hello there</div>
    <div style="width:300px">Hello there</div>
    <div style="width:300px">Hello there</div>
    <div style="width:300px">Hello there</div>
    <div style="width:300px">Hello there</div>
    <div style="width:300px">Hello there</div>
 </div> -->
