.my-grid {
  position: relative;
  display: flex;
  flex-direction: column;
  flex-grow: 1;

  .header {
    width: 100%;
  }
  .content {
    width: 100%;
    display: block;
    overflow: auto;
    white-space: nowrap;
  }
  .column {
    width: 150px;
    display: inline-block;
  }
  .scrollable {
    overflow: auto;
  }
}
