.my-grid {

  .header {
    width: 100%;
  }
  .content {
    width: 100%;
    display: block;
    overflow: auto;
    white-space: nowrap;
  }
  .column {
    width: 150px;
    display: inline-block;
  }

}
