<!-- <div class="my-grid">
  <div class="head" #head>

    <div class="g-row">
      <div class="g-col">

      </div>
      <div class="g-col">
        2
      </div>
      <div class="g-col">
        3
      </div>
      <div class="g-col">
        4
      </div>
      <div class="g-col">
        5
      </div>
      <div class="g-col">
        6
      </div>

    </div>
  </div>
  <div class="body" #body> -->
<!-- <div style="width: 100%;border: 1px solid;">
      <div style="width:300px">Hello there</div>
      <div style="width:300px">Hello there</div>
      <div style="width:300px">Hello there</div>
      <div style="width:300px">Hello there</div>
      <div style="width:300px">Hello there</div>
      <div style="width:300px">Hello there</div>
      <div style="width:300px">Hello there</div>
      <div style="width:300px">Hello there</div>
      <div style="width:300px">Hello there</div>
      <div style="width:300px">Hello there</div>
      <div style="width:300px">Hello there</div>
    </div> -->
<!-- <div style="width:100%;overflow:auto">
      <div class="g-row">
        <div class="g-col">
          5
        </div>
        <div class="g-col">
          5
        </div>
        <div class="g-col">
          5
        </div>
        <div class="g-col">
          5
        </div>
        <div class="g-col">
          5
        </div>
        <div class="g-col">
          6
        </div>
      </div>
      <div class="g-row">
        <div class="g-col">
          +
        </div>
        <div class="g-col">
          2
        </div>
        <div class="g-col">
          3
        </div>
        <div class="g-col">
          4
        </div>
        <div class="g-col">
          5
        </div>
        <div class="g-col">
          666666666666666666666
        </div>
      </div>

      <div class="g-row">
        <div class="g-col">
          1
        </div>
        <div class="g-col">
          2
        </div>
        <div class="g-col">
          3
        </div>
        <div class="g-col">
          4
        </div>
        <div class="g-col">
          5
        </div>
        <div class="g-col">
          6
        </div>
      </div>
      <div class="g-row">
        <div class="g-col">
          1
        </div>
        <div class="g-col">
          2
        </div>
        <div class="g-col">
          3
        </div>
        <div class="g-col">
          4
        </div>
        <div class="g-col">
          5
        </div>
        <div class="g-col">
          6
        </div>
      </div>
      <div class="g-row">
        <div class="g-col">
          1
        </div>
        <div class="g-col">
          2
        </div>
        <div class="g-col">
          3
        </div>
        <div class="g-col">
          4
        </div>
        <div class="g-col">
          5
        </div>
        <div class="g-col">
          6
        </div>
      </div>
      <div class="g-row">
        <div class="g-col">
          1
        </div>
        <div class="g-col">
          2
        </div>
        <div class="g-col">
          3
        </div>
        <div class="g-col">
          4
        </div>
        <div class="g-col">
          5
        </div>
        <div class="g-col">
          6
        </div>
      </div>


    </div> -->
<!-- </div>
</div> -->
<div class="my-grid d-flex flex-fill">
  <div style="width: 100%;border: 1px solid;overflow:auto;display:block">
    <div style="width:300px">Hello there</div>
    <div style="width:300px">Hello there</div>
    <div style="width:300px">Hello there</div>
    <div style="width:300px">Hello there</div>
    <div style="width:300px">Hello there</div>
    <div style="width:300px">Hello there</div>
    <div style="width:300px">Hello there</div>
    <div style="width:300px">Hello there</div>
    <div style="width:300px">Hello there</div>
    <div style="width:300px">Hello there</div>
    <div style="width:300px">Hello there</div>
  </div>
</div>
