@import "themes/dark/theme.css";

html {
  height: 100%;
}

body {
  height: 100%;
  background-color: var(--body-bg) !important;
  color : var(--body-fg) !important;
}

.flex-fill {
  flex-grow: 1;
}
.flex-no-shrink {
  flex-shrink: 0;
}
