<div class="d-flex flex-column fx-widget" #container>
  <div class="title rotate" [style.width.px]="width">
    5 YEAR
  </div>
  <div class="d-flex flex-fill enlarged-row">
    <div class="d-flex flex-fill b-bid justify-content-center">
      <div class="bb-xl-price">
        <span class="normal-price">99-</span>
        <span class="enlarged-price">03+</span>
      </div>
      <div class="bb-qty">23</div>
      <div class="high">High : 101.45</div>
    </div>
    <div class="d-flex justify-content-center flex-fill b-ask">
      <div class="ba-xl-price">
        <span class="normal-price">99-</span>
        <span class="enlarged-price">03+</span>
      </div>
      <div class="ba-qty">23</div>
      <div class="low">Low : 99.45</div>
    </div>
  </div>
  <div class="container-fluid no-gutters">
    <div class="row no-gutters">
      <div class="col text-center no-gutters">1</div>
      <div class="col text-center no-gutters">2</div>
      <div class="col text-center no-gutters">3</div>
      <div class="col text-center no-gutters">4</div>
    </div>
    <div class="row no-gutters">
      <div class="col text-center no-gutters">1</div>
      <div class="col text-center no-gutters">2</div>
      <div class="col text-center no-gutters">3</div>
      <div class="col text-center no-gutters">4</div>
    </div>
    <div class="row no-gutters">
      <div class="col text-center no-gutters">1</div>
      <div class="col text-center no-gutters">2</div>
      <div class="col text-center no-gutters">3</div>
      <div class="col text-center no-gutters">4</div>
    </div>
    <div class="row no-gutters">
      <div class="col text-center no-gutters">1</div>
      <div class="col text-center no-gutters">2</div>
      <div class="col text-center no-gutters">3</div>
      <div class="col text-center no-gutters">4</div>
    </div>
    <div class="row no-gutters">
      <div class="col text-center no-gutters">1</div>
      <div class="col text-center no-gutters">2</div>
      <div class="col text-center no-gutters">3</div>
      <div class="col text-center no-gutters">4</div>
    </div>
  </div>
</div>
