.fx-widget {
  $WIDGET-WIDTH : 210px;
  $TITLE-HEIGHT : 22px;
  user-select: none;
  position: relative;
  border: 1px solid var(--border-color);
  margin-left:$TITLE-HEIGHT;
  // margin-bottom: 5px;
  min-width: $WIDGET-WIDTH;
  color: #fff;
  font-size: 0.8rem;

  .enlarged-row {
    height: 50px;

    .enl-initials {
      border-left : 1px solid var(--border-color);
      border-right : 1px solid var(--border-color);
      border-bottom : 1px solid var(--border-color);
      font-size: 0.6rem;
      font-weight: bold;
      padding: 0 2px;
      background: maroon;
    }
    .low {
      position: absolute;
      font-size: 0.8em;
      right: 0;
      top: -2px;
      margin-right: 2px;
    }
    .high {
      position: absolute;
      font-size: 0.8em;
      left: 0;
      top: -2px;
      margin-left: 2px;
    }
  }

  .xl-price {
    margin-left: auto;
    margin-right: auto;
    margin-top: 5px;
  }

  .enlarged-price {
    font-size: 3em;
    font-weight: bold;
    line-height: 50px;
  }
  .normal-price {
    font-size: 1.1em;
    font-weight: bold;
  }
  .b-bid {
    position: relative;
    border-right: 1px solid var(--border-color);
    background: linear-gradient(
      to right,
      #3773ff,
      #3d41ff,
      #2d32ff,
      #0037ab,
      #002472
    );
    .bb-xl-price {
      @extend .xl-price;
      padding-right: 10px;
    }

    .bb-qty {
      position: absolute;
      border-bottom-left-radius: 8px;
      right: 0;
      top: 0;
      padding: 0 3px;
      font-size: 1.2em;
      border-left: 1px solid var(--border-color);
      border-bottom: 1px solid var(--border-color);
    }

  }
  .b-ask {
    position: relative;
    background: linear-gradient(
      to right,
      #6d0202,
      #8d0606,
      #b00e0e,
      #d61313,
      #f22323
    );
    .ba-qty {
      padding: 0 3px;
      border-bottom-right-radius: 8px;
      position: absolute;
      font-size: 1.2em;
      left: 0;
      top: 0;
      border-right: 1px solid var(--border-color);
      border-bottom: 1px solid var(--border-color);
    }
    .ba-xl-price {
      @extend .xl-price;
      padding-left: 10px;
    }

  }



  /******************/
  .no-gutters {
    padding: 0;
    margin: 0;
  }
  .col {
    border-right: 1px solid var(--border-color);
  }
  .col:last-child {
    border-right: none;
  }
  .row {
    border-bottom: 1px solid var(--border-color);
  }

  .row:last-child {
    border-bottom: none;
  }
  .title {
    position: absolute;
    left:-$TITLE-HEIGHT;
    bottom:100%;
    top: calc($TITLE-HEIGHT + 1px);
    height:$TITLE-HEIGHT;
    padding:0 3px;
    padding-bottom: 2px;
    z-index:5;
    font-weight: bold;
    background: green;
    border:1px solid var(--border-color);
    border-bottom-right-radius: 8px;
  }
  .rotate {
    transform: rotate(90deg);
    transform-origin: 0 100%;
  }
  .overlay {
    position: absolute;
    left : 0;
    top:0;
    bottom:0;
    z-index: 2;
    background: red;
    width : 200px;
    display: none;
  }
}
